#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
 
*.ncb
*~
*.bak
*.orig
*.patch
*.rej
patches-*
bin/*
.DS_Store
!dep/ACE_wrappers/ace/ace_message_table.bin
!dep/tbb/src/Makefile
.*
*.o
*.o.*
*.a
*.so
*.so.dbg
*.bin
*.gz
win/VC90/*/
dep/lib/win32*
dep/lib/x64*
src/shared/revision.h